/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&lt { tapping-term-ms = <150>; };

/ {
    macros {
        username: username {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F &kp A &kp L &kp L &kp O &kp W &kp N6 &kp N4>;
            label = "USERNAME";
        };

        unix_name: unix_name {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp A &kp U &kp S &kp T &kp I &kp N>;
            label = "UNIX_NAME";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                              &kp N6  &kp N7    &kp N8          &kp N9   &kp N0    &kp GRAVE
&kp TAB    &kp Q   &kp W   &kp E     &kp R     &kp T                               &kp Y   &kp U     &kp I           &kp O    &kp P     &kp MINUS
&kp LCTRL  &kp A   &kp S   &kp D     &kp F     &kp G                               &kp H   &kp J     &kp K           &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C     &kp V     &kp B   &kp LPAR       &kp RPAR     &kp N   &kp M     &kp COMMA       &kp DOT  &kp FSLH  &kp RSHFT
                           &kp LALT  &kp LWIN  &mo 1   &lt 1 SPACE    &lt 2 ENTER  &mo 2   &kp BSPC  &kp UNDERSCORE
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&trans      &trans     &trans         &kp LEFT          &kp RIGHT         &trans                                 &kp LC(X)  &kp LC(C)   &kp LC(V)         &kp LC(A)          &kp LC(Z)    &trans
&trans      &kp GRAVE  &kp SLASH      &kp STAR          &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES                      &kp AMPS   &kp DOLLAR  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PERCENT  &trans
&username   &kp EXCL   &kp MINUS      &kp PLUS          &kp EQUAL         &kp DOT                                &kp PIPE   &kp COLON   &kp LPAR          &kp RPAR           &kp SEMI     &trans
&unix_name  &trans     &kp LESS_THAN  &kp GREATER_THAN  &kp BACKSLASH     &kp QUESTION       &kp HASH    &kp AT  &kp TILDE  &kp CARET   &kp LBRC          &kp RBRC           &trans       &trans
                                      &trans            &trans            &trans             &trans      &trans  &trans     &trans      &trans
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&trans  &trans  &kp F10  &kp F11  &kp F12  &bt BT_SEL 3                        &trans      &kp C_VOL_DN  &kp C_VOL_UP   &kp K_MUTE   &kp C_BRI_UP   &trans
&trans  &trans  &kp F7   &kp F8   &kp F9   &bt BT_SEL 2                        &kp CAPS    &kp C_PREV    &kp C_PP       &kp C_NEXT   &kp C_BRI_DEC  &trans
&trans  &trans  &kp F4   &kp F5   &kp F6   &bt BT_SEL 1                        &caps_word  &kp LEFT      &kp DOWN       &kp UP       &kp RIGHT      &trans
&trans  &trans  &kp F1   &kp F2   &kp F3   &bt BT_SEL 0  &bt BT_CLR    &trans  &trans      &kp HOME      &kp PAGE_DOWN  &kp PAGE_UP  &kp END        &trans
                         &trans   &trans   &trans        &trans        &trans  &trans      &trans        &trans
            >;
        };
    };
};
